h1{
    text-align: center;
}
.textBlock{
    margin: 0 auto;
    width: 500px;
    text-align: center;
    text-decoration: underline blue 3px;
    font-size: 50px;
    border: 2px solid darkblue;
    border-radius: 5%;
    box-shadow:  8px 5px 5px blue;
}